


#container {
  margin: 0 auto;
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 1px solid black;

  .black {
    background: black;
  }
  .white {
    background: white;
  }
}





